body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    text-align: center;
    margin-top: 150px;
}

h1 {
    color: #222;
    font-size: 40px;
}

p {
    color: #666;
    font-size: 18px;
}

button {
    background: blue;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}